body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(185, 132, 187, 0.5);
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}

section#featured-property p {
  width: 800px;
  text-align: center;
  padding: 2px;
}

.details {
    float: left;
    text-align: center;
    width: 25%;
    background: red; 
}
